.file__item {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
}

.file__icon {
    width: 8rem;
    height: 8rem;
    background-color: $gray_bgicon;

    display: flex;
    align-items: center;
    justify-content: center;
}

.file__name {
    width: 100%;
    font-size: 0.92rem;
    font-weight: 600;
    color: $black;

    padding: 1rem 0;
}

.file__btn {
    margin: 1.2rem 0;
    display: block;
    width: 65%;
    text-align: center;
}