.file__item {
    width: 8rem;
    text-align: center;

    margin: 0 2.66rem;
}

.file__icon {
    width: 8rem;
    height: 8rem;
    background-color: rgba($color: $gray_text, $alpha: 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.file__name {
    font-size: 0.92rem;
    font-weight: 600;
    color: $black;

    padding: 1rem 0;
}

.file__btn{
    margin: 1rem;
    display: block;
    width: 75%;
    text-align: center;
}