.nav {
    display: flex;
    font-weight: 700;
    color: $gray_text;
    font-size: 0.84rem;
    padding: 1rem 0;

}

.nav__text {
    text-decoration: none;
    color: $gray_text;
    font-size: 0.92rem;
    font-weight: 400;
    padding: 0 0.5rem;

    &:hover {
        text-decoration: underline;
    }

    @media screen and ($mobile-sm) {
        &:first-child {
            padding-left: 0;
        }
    }
}

.nav__maket {
    display: flex;

    @media screen and ($tablet) {
        width: 100%;
        justify-content: space-between;
    }
}