.upload {
    box-shadow: 3px 3px 8px rgba($color: $gray_text, $alpha: 0.2);
}

.upload__string {
    background-color: $white;
    border: 1px solid rgba($color: $gray_text, $alpha: 0.3);
    border-radius: 0.3rem 0.3rem 0 0;
    border-bottom: none;

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 100%;
}

.upload__item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 50%;

    &:first-child {
        padding: 0.5rem 1.5rem;
    }

    &:last-child {
        justify-content: flex-end;

        @media screen and ($tablet) {
            justify-content: center;
        }

        @media screen and ($mobile) {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        @media screen and ($mobile-sm) {
            padding-top: 0;
            justify-content: center;
            width: 100%;
        }
    }

    @media screen and ($tablet) {
        justify-content: center;
        width: 100%;
    }

    @media screen and ($mobile-sm) {
        flex-wrap: wrap;
    }

}

.upload__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: $black;

}

.upload__tag {
    display: flex;
    align-items: center;
    margin: 0 2rem;

    color: $orange;
    font-size: 0.92rem;

    @media screen and ($tablet-lg) {
        margin: 0 1rem;
    }
}

.upload__text {
    text-decoration: none;

    margin-left: 0.3rem;
    font-size: 0.92rem;
    font-weight: 400;
    color: $orange;

    &:hover {
        text-decoration: underline;
        color: $orangehov;
    }
}

.upload__btn {
    margin-left: 0.5rem;
    display: block;

    &:first-child {
        margin-left: 0;
    }

    @media screen and ($tablet) {
        padding-top: 0.3rem;
    }

    @media screen and ($mobile-sm) {
        margin-left: 0;
        width: 100%;
    }
}

.upload__file {
    background-color: $white;
    border: 1px solid rgba($color: $gray_text, $alpha: 0.3);
    border-radius: 0 0 0.3rem 0.3rem;
    cursor: pointer;

    width: 100%;
    position: relative;

    display: none;
    flex-wrap: wrap;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    padding: 3rem 2rem;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;

    &.active{
        display: flex;
    }
}


.grid__item {
    width: calc(100%/8);
    display: flex;
    justify-content: center;

    @media screen and ($tablet-lg) {
        width: calc(100%/6);
    }

    @media screen and ($tablet) {
        width: calc(100%/4);
    }

    @media screen and ($mobile) {
        width: calc(100%/3);
    }

    @media screen and ($mobile-sm) {
        width: calc(100%/2);
    }

    @media screen and ($mobile-smsm) {
        width: 100%;
    }

}

.upload__list {
    display: none;

    width: 100%;
    border: 1px solid rgba($color: $gray_text, $alpha: 0.3);
    border-radius: 0 0 0.3rem 0.3rem;
    padding-bottom: 2rem;
    background-color: $white;

    &.active{
        display: block;
    }
}