/* Colors   */


$white: #ffffff;

$gray_bg: #f7f7f7;
$gray_text: #999999;
$gray_btn: #aaaaaa;
$gray_icon: #acacac;

$black: #333333;

$orange: #fc9819;
$orangehov: #ef9018;

$gray_bgicon: #fcfcfc;
/*  Media   */

$mobile-smsm: "max-width: 335px";
$mobile-sm: "max-width: 565px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";
$tablet-lg: "max-width: 1320px";