@import "vars";



html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;

    background-color: $gray_bg;

    &.hidded {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?ufouu9');
    src: url('../fonts/icomoon.eot?ufouu9#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ufouu9') format('truetype'),
        url('../fonts/icomoon.woff?ufouu9') format('woff'),
        url('../fonts/icomoon.svg?ufouu9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e900";
    color: #fff;
}

.icon-avi:before {
    content: "\e901";
}

.icon-calendar:before {
    content: "\e902";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-checklist:before {
    content: "\e903";
    color: $gray_icon;
    padding-right: 1rem;
    ;
}

.icon-cirle_menu:before {
    content: "\e904";
    color: #acacac;
}

.icon-clock:before {
    content: "\e905";
    color: #acacac;
}

.icon-close:before {
    content: "\e906";
    color: #acacac;
}

.icon-doc:before {
    content: "\e907";
}

.icon-docs:before {
    content: "\e908";
    color: $gray_icon;
    padding-right: 1rem;
    ;
}

.icon-email:before {
    content: "\e909";
    color: #acacac;
}

.icon-events:before {
    content: "\e90a";
    color: #acacac;
    padding-right: 1rem;
}

.icon-grid:before {
    content: "\e90b";
    color: rgba($color: $gray_icon, $alpha: 0.5);

    transition: color 0.2s linear;

    &:hover {
        color: $gray_icon;
    }
}

.icon-help:before {
    content: "\e90c";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-home:before {
    content: "\e90d";
    color: #fff;
}

.icon-jpg:before {
    content: "\e90e";
}

.icon-list:before {
    content: "\e90f";
    color: rgba($color: $gray_icon, $alpha: 0.5);

    transition: color 0.2s linear;
}

.icon-logo:before {
    content: "\e910";
    color: #fc9819;
}

.icon-logout:before {
    content: "\e911";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-menu_burger:before {
    content: "\e912";
    color: #acacac;
}

.icon-mp3:before {
    content: "\e913";
}

.icon-notes:before {
    content: "\e914";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-pdf:before {
    content: "\e915";
}

.icon-posts:before {
    content: "\e916";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-rar:before {
    content: "\e917";
}

.icon-search:before {
    content: "\e918";
    color: #f49722;
}

.icon-service:before {
    content: "\e919";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-setting:before {
    content: "\e91a";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-share:before {
    content: "\e91b";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-task:before {
    content: "\e91c";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-txt:before {
    content: "\e91d";
}

.icon-user:before {
    content: "\e91e";
    color: $gray_icon;
    padding-right: 1rem;
}

.icon-xls:before {
    content: "\e91f";
}


/*  Blocks  */

@import "blocks/header";
@import "blocks/container";
@import "blocks/document";
@import "blocks/title";
@import "blocks/search";
@import "blocks/nav";
@import "blocks/maket";
@import "blocks/share";
@import "blocks/btn";
@import "blocks/upload";
@import "blocks/file";
@import "blocks/control";
@import "blocks/footer";
@import "blocks/bar";
@import "blocks/menu";
@import "blocks/select";